<!-- <ng-container *ngFor="let item of items">
  <div class="d-grid gap-2 py-2">
    <a type="button" class="btn btn-outline-primary btn-block selector">
        <div class="col">
          <lucide-icon name="car"></lucide-icon>
        </div>
        <div class="col">
          {{ item.distributorName }}
          {{ item.modelName }}
          {{ item.issueYear }}
        </div>
    </a>
  </div>
</ng-container> -->
<div class="d-grid gap-2">
    <button type="button" class="btn btn-outline-primary btn-block selector" data-bs-toggle="modal" data-bs-target="#createPersonalCar">
        <lucide-icon name="plus"></lucide-icon>
    </button>
</div>

<div class="modal fade" id="createPersonalCar" tabindex="-1" aria-labelledby="createPersonalCarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createPersonalCarLabel">Add a car</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="row">
                <div class="col-7">
                    <div class="form-group required py-2">
                        <label>
                            Distributor:
                        </label>
                        <select class="form-select" formControlName="selectedDistributor">
                            <option *ngFor="let item of groupedItems" [ngValue]="item">
                                {{ item.distributorName }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group required py-2">
                        <label>
                            Model:
                        </label>
                        <select class="form-select" formControlName="selectedModel">
                            <ng-container *ngFor="let item of groupedItems">
                                <option *ngIf="item.distributorName == this.form.value.selectedDistributor" [ngValue]="item.modelName">
                                  {{ item.cars[0].modelName }}      
                                </option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group required py-2">
                        <label>
                            Issue year:
                        </label>
                        <select class="form-select" formControlName="auto">
                            <ng-container *ngFor="let item of items">
                                <option *ngIf="item.modelName === form.value.selectedModel && item.distributorName === form.value.selectedDistributor"
                                  [ngValue]="item">
                                  {{ item.issueYear }}
                                </option>
                            </ng-container>
                        </select>
                    </div>

                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add a car</button>
        </div>
      </div>
    </div>
</div>