<form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group required py-2">
        <label>
          Price:
        </label>
          <input type="number" class="form-control" formControlName="price">
      </div>
      <div class="form-group required py-2">
        <label>
          Description:
        </label>
        <input type="text" class="form-control" formControlName="description">
      </div>
</form>

<button type="button" class="btn btn-primary" (click)="onSubmit()">Create offer</button>
